h1{
    text-align: center;
    font-size: 34pt;
    color: white;
}
h2{
    text-align: center;
    font-size: 28pt;
    color: antiquewhite;
}
body{
    background-color: #c8b7a6;
}
#bush{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 22vw;
    max-width: 55vw;
    border-radius: 15%;


}
#bush img{
    max-height: 30vw;
    max-width: 40vw; 
}

#memex{
    margin-left: 20vw;
    margin-right: 20vw;
    border: solid 1px white;
    font-size: 110pt;
    font-family:sans-serif;
}
a:link{
    color: #9c637c;
    text-decoration: none;
}
a:visited {
    color: #9c637c;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
  }
  
a:active {
    text-decoration: none;
  }