@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body{
    background-image: url("images/stands.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#image1{
    max-width: 100px;
}

.restart {
    position: fixed;
    right: 30px;
    bottom: 10px;
    cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #cd90d7, #ddbde3);
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 35%;
      font-size: 22px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  .quit {
    position: fixed;
    right: 200px;
    bottom: 10px;
    cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #cd90d7, #ddbde3);
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 35%;
      font-size: 22px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }


